$red: hsl(0, 100%, 74%) 
$green: hsl(154, 59%, 51%)
$blue: hsl(248, 32%, 49%)
$dark_blue: hsl(249, 10%, 26%) 
$grayish_blue: hsl(246, 25%, 77%)
$font_size: 16px
$font_family: 'Poppins', sans-serif

*,
*::after,
*::before
  box-sizing: border-box
  margin: 0
  padding: 0

html,
body
  min-height: 100%

body,
a,
input,
button
  font-family: $font_family
  font-size: $font_size
  line-height: 27px

body
  background-image: url("../images/bg-intro-mobile.png")
  background-color: $red

.main-content
  max-width: 1220px
  margin: 0 auto
  height: 100%
  padding: 94px 24px
  

.hero
  margin-bottom: 59px

  h1
    font-size: 27px
    line-height: 33px
    color: white
    text-align: center
    margin-bottom: 23px

  p
    color: white
    text-align: center

.cta-text
  text-align: center
  background-color: $blue
  color: white
  padding: 18px 45px
  display: block
  border-radius: 12px
  text-decoration: none
  margin: 0 auto 24px
  box-shadow: 0px 6px 0px 0px #df6d6d
  max-width: 538px
  margin-left: auto
  margin-right: auto

.registration-form
  background-color: white
  border-radius: 9px
  padding: 23px 24px
  box-shadow: 0px 6px 0px 0px #df6d6d

  max-width: 538px
  margin-left: auto
  margin-right: auto

  button
    background-color: $green
    color: white
    text-transform: uppercase
    display: block
    width: 100%
    margin-bottom: 10px
    border: 1px solid darken($green, 2%)
    outline: none
    border-radius: 6px
    padding: 13px
    font-size: 17px
    line-height: 29px
    font-weight: 500
    box-shadow:  0px 3px 0px 0px #2fb179

.terms-conditions
  color: $grayish_blue
  font-size: 12px
  line-height: 19px
  display: block
  text-align: center
  white-space: pre-line

  a
    font-size: 12px
    line-height: 19px
    display: inline-block
    font-weight: 600
    color: $red
    text-decoration: none

input
  border: 1px solid #dedede
  padding: 13px 18px
  margin-bottom: 17px
  display: block
  width: 100%
  border-radius: 5px
  font-size: 14px
  color: $dark_blue

  &::placeholder
    font-weight: 600
    color: $dark_blue

@media screen and ( min-width: 998px )
  .main-content
    display: grid
    grid-template-areas: "c-hero c-cta" "c-hero c-form"
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto 1fr
    align-items: center
    column-gap: 33px
    row-gap: 0
    min-height: 100vh
    padding-top: 104px

  .hero
    grid-area: c-hero
    margin-bottom: 0
    padding-left: 33px

    h1
      white-space: pre-line
      text-align: left
      font-size: 49px
      line-height: 58px

    p
      text-align: left

  .cta-text
    grid-area: c-cta
    width: 100%
    max-width: 538px
    margin: 15px 0 0

  .registration-form
    grid-area: c-form
    width: 100%
    max-width: 538px
    min-height: 478px
    padding: 40px 36px
    margin-left: 0
    margin-right: 0

    button
      padding: 14px 14px 9px
      margin-bottom: 15px

  input
    padding: 16px 30px 12px
    margin-bottom: 19px
  
  .terms-conditions
    white-space: normal
    font-size: 11px
    line-height: 20px

    a
      font-size: 11px
      line-height: 20px
  